/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styling */

/* General */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Karla', sans-serif;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btn {
  border: 1px solid #9e9d9d;
  padding: 10px 10px;
  border-radius: 8px;
  font-weight: 500;
  display: inline-block;
}

.col {
  flex: 0 1 50%;
}

.col-left {
  padding-right: 50px;
}

.col-right {
  padding-left: 50px;
}

/* Header */

.header {
  margin: 18px 0;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: #464646;
  margin-left: 10px;
  font-size: 14px;
}

h1 {
  font-family: 'DM Serif Display', sans-serif;
  color: #2D2640;
  font-size: 32px;
  font-weight: 700;
}

/* Hero */

.col-right img {
  width: 100%;
  font-size: 0;
}

.hero {
  background-color: #2D2640;
}

h2 {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 44px;
  color: white;
  font-weight: 700;
  border-top: 1px solid white;
}

.hero p {
  color: white;
  font-size: 16px;
  font-weight: 200;
  margin-top: 15px;
  margin-bottom: 30px;
}


.btn-hero {
  color: white;
}


/* About */

.about {
  margin: 40px 0 60px 0;
}

.col-2-1 {
  flex: 0 1 50%;
  font-size: 0;
}

.col-2-2 {
  flex: 0 1 50%;
}

.about h2 {
  color: #2D2640;
  font-family: 'DM Serif Display', sans-serif;
}

.about p{
  color: #464646;
  margin: 20px 0;
}

.about img {
  width: 100%;
  font-size: 0;
}


/* Different */

.different {
  margin: 40px 0;
}

.different h2 {
  color: #2D2640;
  margin-bottom: 30px;
  font-family: 'DM Serif Display', sans-serif;
  border-top: 1px solid #464646;
}

.different i {
  color: #8AB4F0;
  font-size: 32px;
  margin: 10px 0;
}

.different h4 {
  color: #2D2640;
  font-family: 'DM Serif Display', sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.different p {
  color: #464646;
  margin-bottom: 30px;
}

/* How We Work */

.how-we-work {
  margin: 50px 0;
}

.bgcontainer {
  background-color: #2D2640;
  vertical-align: middle;
  padding: 40px 0 40px 40px;
}

.how-we-work .btn {
  color: white;
  font-size: 24px;
}

.how-we-work h2 {
  font-size: 40px;
  font-weight: 500;
  border-top: none;
}

/* Footer */

.footer .container {
  border-bottom: 1px solid #616161;
}

.footer i {
  margin-left: 10px;
  font-size: 18px;
}

.footer-nav {
  margin: 10px 0;
  text-align: center;
}

.footer-nav a {
  text-transform: capitalize;
}

.copyright {
  background-color: #2D2640;
  text-align: center;
  color: #9e9d9d;
  padding: 20px 0;
}